body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.rzad {
    display: flex; 
    align-items: center; 
    margin: 0; 
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-header {
    margin-right: 10px; 
    font-weight: bold; 
}

.seats-container {
    display: flex; 
    flex-wrap: wrap; 
}
